<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>J&A Select</title>

    </head>
    <body>
        <footer class="footer mt-auto bg-dark pt-5 pb-5" th:fragment="footer">

            <div class="container">
                <div class="row">

                    <!-- Columna izquierda -->
                    <div class="col-md-8 d-flex justify-content-around  flex-wrap text-start">
                        <div>
                            <p><a th:href="@{/politica}" class="footer-link">Envíos y devoluciones</a></p>
                            <p><a th:href="@{/politica}" class="footer-link">Políticas de la empresa</a></p>
                        </div>
                        <div>
                            <p><a th:href="@{/politica}" class="footer-link">Métodos de pago</a></p>
                            <p><a href="#" class="footer-link">Facebook</a></p>
                        </div>
                    </div>

                    <!-- Columna derecha -->
                    <div class="col-md-4 text-md-end mt-4 mt-md-0">
                        <h5 class="footer-title">Únete para estar<br>al tanto</h5>
                        <form>
                            <input type="email" class="footer-input mt-2 mb-2" placeholder="Ingresa tu email aquí">

                                <button type="submit" class="btn btn-custom w-100">Suscribirse ahora</button>

                        </form>
                    </div>

                </div>
            </div>
        </footer>

    </body>
</html>
